@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    overflow-y: auto;
}

html, body {
    height: 100%;
}

.single-img {
    background: url('./img/bg/die-firma-wallpaper.png') center center repeat fixed;
}

header {
    position: fixed;

    width: 100%;
    height: 200px;

    padding-top: 17px;
    border-bottom: 3px solid #000;

    background-color: #fff;
    text-align: center;

    z-index: 2;
}

header nav {
    display: inline-block;
    text-align: center;

    padding-top: 20px;
}

header nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    float: left;
    margin: 0 25px 0 25px;
}

header nav ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;

    border-bottom: 0px solid transparent;
    transition: 0.5s ease;
}

header nav ul li a:hover {
    border-bottom: 3px solid #000;
}

header nav ul li #current-page {
    color: #b51830;
    border-bottom: 1px solid #b51830;
}

header nav ul li #current-page:hover {
    border-bottom: 3px solid #b51830;
}

.main-view {
    position: absolute;
    display: none;

    top: 220px;
    height: 900px;
    width: 100%;

    text-align: center;
    z-index: 0;
}

.main-view .container {
    position: absolute;

    height: 100%;
    width: 100%;

    top: 0px;
}

.main-view .container h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: normal;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.main-view .container p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.main-view .sbar {
    position: absolute;

    height: 100%;
    width: 220px;
    padding: 0;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.9);

    z-index: 1;
}

.main-view .sbar-block {
    position: relative;
    display: inline-block;

    width: 100%;

    margin: 50px 0 50px 0;

    text-align: left;
}

.main-view .sbar-block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;

    padding-left: 5px
}

.main-view #sbar-left {
    left: 0px;
    padding-left: 10px;
    border-right: 10px solid transparent;
}

.main-view #sbar-right {
    right: 0px;
    padding-right: 10px;
    border-left: 10px solid transparent;
}

footer {
    position: absolute;

    bottom: 0px;

    width: 100%;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#product-page,
#project-page,
#contact-page,
.main-view .sbar {
    display: none;
}

/* TODO: Design fitting scrollbar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-button {}
::-webkit-scrollbar-corner {}


#rights:hover {
    text-decoration: underline;
    cursor: pointer;
}


.incomming {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: incomming-animation .3s linear forwards;
    -o-animation: incomming-animation .3s linear forwards;
    animation: incomming-animation .3s linear forwards
}



.outgoing {
    -webkit-animation: outgoing-animation 4s cubic-bezier(.55,-0.04,.91,.94) forwards;
    -o-animation: outgoing-animation 4s cubic-bezier(.55,-0.04,.91,.94) forwards;
    animation: outgoing-animation 4s cubic-bezier(.55,-0.04,.91,.94) forwards;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%
}

@keyframes incomming-animation {
    from {
        opacity: 0;
        -webkit-transform: translateY(-400px);
        -ms-transform: translateY(-400px);
        -o-transform: translateY(-400px);
        transform: translateY(-400px)
    }

    to {
        opacity: 1;
        transform : translateY(0)
    }
}

@keyframes outgoing-animation {
    0% {
        opacity: 1;
        -webkit-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
        transform: rotateZ(0)
    }

    20% {
        opacity: 1;
        -webkit-transform: rotateZ(140deg);
        -ms-transform: rotateZ(140deg);
        -o-transform: rotateZ(140deg);
        transform: rotateZ(140deg)
    }

    40% {
        opacity: 1;
        -webkit-transform: rotateZ(60deg);
        -ms-transform: rotateZ(60deg);
        -o-transform: rotateZ(60deg);
        transform: rotateZ(60deg)
    }

    60% {
        opacity: 1;
        -webkit-transform: rotateZ(110deg);
        -ms-transform: rotateZ(110deg);
        -o-transform: rotateZ(110deg);
        transform: rotateZ(110deg)
    }

    70% {
        opacity: 1;
        -webkit-transform: rotateZ(90deg) translateX(0);
        -ms-transform: rotateZ(90deg) translateX(0);
        -o-transform: rotateZ(90deg) translateX(0);
        transform: rotateZ(90deg) translateX(0)
    }

    90% {
        opacity: 1;
        -webkit-transform: rotateZ(90deg) translateX(600px);
        -ms-transform: rotateZ(90deg) translateX(600px);
        -o-transform: rotateZ(90deg) translateX(600px);
        transform: rotateZ(90deg) translateX(600px)
    }

    100% {
        opacity: 0;
        -webkit-transform: rotateZ(90deg) translateX(600px);
        -ms-transform: rotateZ(90deg) translateX(600px);
        -o-transform: rotateZ(90deg) translateX(600px);
        transform: rotateZ(90deg) translateX(600px)
    }
}